Migration.Configuration/Resources/ComponentXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="GroupType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="AUTH" />
    <xs:enumeration value="ASSET" />
    <xs:enumeration value="REPORT" />
  </xs:restriction>
</xs:simpleType>  
<xs:element name="ComponentConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Group" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Component" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name" use="required"/>
                      <xs:attribute type="xs:string" name="DisplayName" use="required"/>
                      <xs:attribute type="xs:string" name="DomainType" use="optional"/>
                      <xs:attribute type="xs:string" name="GenerateType" use="optional"/>
                      <xs:attribute type="xs:string" name="PersistType" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="GroupType" name="Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
	<xs:unique name="ComponentNameUniqueKey">
        <xs:selector xpath="Group/Component" />
        <xs:field xpath="@Name" />
    </xs:unique>
	<xs:unique name="GroupNameUniqueKey">
        <xs:selector xpath="Group" />
        <xs:field xpath="@Name" />
    </xs:unique>
  </xs:element>
</xs:schema>